*{
    font-family: Minecraft;
    margin: 0;
}

body{
    width:100%;
}

header{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 160px;
    user-select: none ;
}

header img {
    width: 80%;
}

#didactics{
    color: #aea4a2;
    font-size: 27px;
}

#maincontainer{
    background-image: url(../img/back.jpg);
    background-size: cover;
}

#opacity{
    margin:20px;
    /*background-color: rgba(0, 0, 0, 0.350);*/
    /*0.404*/
    background-color: rgba(0, 0, 0, 0.480); 
}

#textcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 40px 0;
}

#text1{
    font-size: 33px;
    padding: 40px 0 25px;
    text-align: center;
    color: #dacdcb;
    /*color:#e2d4d1;
    text-shadow:1px 0 0 #000000,0 1px 0 #000000,-1px 0 0 #000000,0 -1px 0 #000000;*/
}

#text2{
    font-size: 28px;
    padding: 30px 0 20px;
    text-align: center;
    text-transform: uppercase;
    color:#c2b7b5;
}

#text3{
    font-size: 28px;
    padding: 0 0 30px;
    text-align: center;
    text-transform: uppercase;
    color:#c2b7b5;
}

#text1, #text2, #text3, #gamequestion {
    --stroke-color:#000000;
    --stroke-width:2.8px;
    /*color: #dacdcb;*/
    text-shadow: var(--stroke-width)  0 0 var(--stroke-color),
    calc(var(--stroke-width) * -1) 0 0 var(--stroke-color),
    0 var(--stroke-width) 0 var(--stroke-color),
    0 calc(var(--stroke-width) * -1) 0 var(--stroke-color);
    user-select: none ;
}

#iconscontainer {
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gamescontainer, #merchcontainer, #learncontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 23px;
    /*padding: 25px;*/
}

#games, #merch, #learn, #linkmemo, #linkquiz, #linkttt {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    cursor:pointer;
}

a {
    color: #c2b7b5;
    --stroke-color:#000000;
    --stroke-width:2px;
    /*color: #dacdcb;*/
    text-shadow: var(--stroke-width)  0 0 var(--stroke-color),
    calc(var(--stroke-width) * -1) 0 0 var(--stroke-color),
    0 var(--stroke-width) 0 var(--stroke-color),
    0 calc(var(--stroke-width) * -1) 0 var(--stroke-color);
}

#iconscontainer img {
    width: 100px;
    height: 100px;
    padding: 5px;
    margin: 10px;
    transition: transform .9s ease-in-out;
}

#iconscontainer img:hover{
    transform: rotate(360deg);
}

#followcontainer{
    /*background-color: indianred;*/
    background-color: rgb(0, 0, 0);
    display:flex;
    flex-direction: column;
    padding: 15px;
    height: 80px;
    /*width: 100%;*/
}

#follow{
    text-align: center;
    font-size: 17px;
    color: #aea4a2;
    margin:5px;
    user-select: none ;
}

#followicons{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin:10px;
}

#followicons img{
    width: 30px;
    height: 30px;
}

/*//////////////////////////GAMES/////////////////////////*/

#maingamescontainer {
    display: flex;
    flex-direction: column;
    background-image: url(../img/ae576f9097bd63e79c571b4fab797785.png);
    background-size: cover;
    background-position: center;
}

#gameopacity {
    margin:25px;
    background-color: rgba(0, 0, 0, 0.253); 
}

#gamecontainer {
    margin-bottom: 30px;
}

#gamequestion {
    font-size: 33px;
    padding: 110px 20px 65px;
    text-align: center;
    color: #dacdcb;
}

#gameoptions {
    margin: 25px 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    
}

#memotest, #quiz, #tictactoe {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}


#gameoptions img {
    width: 150px;
    height: 150px;
    padding: 5px;
    margin: 10px;
}


/*//////////////////////////MEMOTEST//////////////////////*/

:root {
    --w: calc(70vw / 6);
    --h: calc(70vh / 4);
}

* {
    transition: all 0.5s;
}

#containermemo {
    padding: 0;
    margin: 0;
    -webkit-perspective: 1000;
    background-image: url(../img/minecraft-2193723.jpg);
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none ;
}

/*.return {
    position: relative;
    margin-bottom: 55px;
}

.home, .games {
    cursor: pointer;
    background: linear-gradient(orange, darkorange);
    padding: 15px;
    border-radius: 50px;
    border: white 3px solid;
    font-size: 80%;
}*/

div {
    display: inline-block;
}

.card-area, .card, .face {
    cursor: pointer;
    width: var(--w);
    min-width: 100px;
    height: var(--h);
}

.card {
    position: relative;
    transform-style: preserve-3d;
    animation: start 5s;
}

.face {
    position: absolute;
    backface-visibility: hidden;
    box-shadow: inset 0 0 0 5px white;
    font-size: 400%; /*500%*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.back {
    background-color: lightcyan;
    transform: rotateY(180deg);
}

.upper {
    background: linear-gradient(orange, darkorange);
}

.newGame {
    cursor: pointer;
    background: linear-gradient(orange, darkorange);
    padding: 20px;
    border-radius: 50px;
    border: white 5px solid;
    font-size: 130%;
}

@keyframes start {
    20%,90% {
        transform: rotateY(180deg);
    }
    0%,100% {
        transform: rotateY(0deg);
    }
}

/*//////////////////////////TICTACTOE//////////////////////*/

.container-ttt {
    text-align: center;
    display: inherit;
    background-image: url(../img/eded1-16232581980257-800.jpg);
    background-size: 125% 100%;
    min-height: 100vh;
    user-select: none ;
}

h1 {
    padding: 35px 0;
    color: #c2b7b5;
    --stroke-color:#000000;
    --stroke-width:2px;
    /*color: #dacdcb;*/
    text-shadow: var(--stroke-width)  0 0 var(--stroke-color),
    calc(var(--stroke-width) * -1) 0 0 var(--stroke-color),
    0 var(--stroke-width) 0 var(--stroke-color),
    0 calc(var(--stroke-width) * -1) 0 var(--stroke-color);
}

.tic-container {
    display:grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 25px auto;
    background-color: beige;
}

.game-cell {
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 1px #333333;
    border: 1px solid #333333;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}

.game-notification {
    margin: 35px 0;
    background-color: rgba(255, 255, 255, 0.329);
}

.game-restart {
    padding: 15px 32px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    transition-duration: 0.4s;
}

.game-restart:hover {
    background-color: orange;
    color: black;
    border: 2px solid #4CAF50;
}

/*//////////////////////////QUIZ//////////////////////*/

body {
    
    background-size: cover;
    padding: 0;
    margin: 0;
    text-align: center;
}

.contquiz {
    background-image: url(../img/ebd201f08c6f13db9f7dd600b29c7a4c.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: 1px solid white;*/
    user-select: none ;
}

.header {
    display: grid;
    background: white;
    min-width: 300px;
    width: 70%;
    max-width: 600px;
    padding: 10px;
}

.category {
    opacity: 0.3;
    text-align: left;
}

.question {
    padding: 10px;
}

.image {
    object-fit: cover;
    height: 200px;
    width: 100%;
}

.btnopt {
    background: white;
    width: 60%;
    max-width: 550px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.btnopt:hover {
    background: orange;
}

/*//////////////////////////MERCH/////////////////////////*/

.shop-container{
    display: flex;
    flex-direction: column;
    background-image: url(../img/b636e6f827ad7727280dfb754d788058.jpg);
    background-color: white;
    background-size: cover;
    background-position: center;
    padding-bottom: 50px;
}

.shopopacity {
    margin:20px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.205); 
}

.sp-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.329);
    user-select: none ;
}

.scart {
    padding: 40px 0 25px 0px;
    display: flex;
    justify-content:center;
    font-size: 1.4em;
}

.border:after {
    content: "";
    display: block; 
    margin: 0 auto;
    width: 95%; 
    padding: 5px 0;
    border-bottom: 1px solid blue;
}

.listpr {
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
}

#footer-cart {
    padding: 20px 0 40px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.row {
    display: flex;
    flex-flow: row wrap;   
    justify-content: space-around; 
    padding-bottom: 50px;
}

#itemcart {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.newcard {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    user-select: none ;
}

.card-img-top {
    width: 300px;
    height: 350px;
    border: 1px solid #000000;
    
}

.card-body {
    padding: 15px 80px;
    width: 47%;
    background-color: rgba(255, 255, 255, 0.329);
}

.card-title {
    padding: 10px 0;
    
}

.card-text {
    padding: 10px 0;
}

.btn {
    padding: 10px 20px;
    margin-top: 10px;
    border: 1px solid #000000;
    background: rgb(42, 146, 47);
    color: white;
}

/*//////////////////////////LEARN MORE//////////////////////////*/

.learncontainer {
    width: 90%;
	max-width: 1200px;
	margin: 100px auto;
	display: flex;
	flex-direction: column;
	position: relative;
}
.learncontainer::after {
    content: "";
    width: 2px;
    height: 100%;
    background: #1b3231;
    position: absolute;
    top: 0;
    left: calc(50% - 1px);
    z-index: 1;
}

.blockquestion {
    display: flex;
	justify-content: space-between;
	margin-bottom: 200px;
	position: relative;
}

.blockquestion::after {
    content: "";
	display: block;
	width: 14px;
	height: 14px;
	border-radius: 100px;
	background: #DCDFD9;
	border: 2px solid #1b3231;
	position: absolute;
	z-index: 2;
	top: calc(50% - 9px);
	left: calc(50% - 9px);
}

/*//////////////////////////MEDIA//////////////////////////*/

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    header {
        height: 218px;
    }
    #didactics{
        font-size: 35px;
    }
    #opacity {
        margin: 30px;
    }
    #text1 {
        font-size: 43px;
        padding: 60px 30px;
    }
    #text2 {
        font-size: 34px;
        padding: 30px 0 10px;
    }
    #text3 {
        font-size: 34px;
        padding: 20px 0;
    }
    #games, #merch, #learn {
        font-size: 26px;
    }
    #iconscontainer {
        flex-flow: row wrap;
        justify-content: space-around;
    }
    #iconscontainer img {
        width: 130px;
        height: 130px;
    }
    #followcontainer {
        height: 100px;
    }
    #follow {
        font-size: 25px;
    }
    #followicons img {
        width: 32px;
        height: 32px;
    }
    #maingamescontainer {
        background-position: center right;
    }
    .image {
        height: 250px;
    }
    .contquiz {
        background-image: url(../img/Dlxp6XXW0AEscZK.jpg);
        background-size: cover;
    }
    .sp-container {
        background-color: rgb(225, 217, 233);
    }
    .shop-container{
        padding-bottom: 30px;
    }
    .card-img-top {
        transition: all 300ms;
    }
    .card-img-top:hover {
        transform: scale(1.30);
    }
    .card-body {
        width: 46%;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 2600px) {
    header {
        height: 150px;
    }
    header img {
        width: 40%;
    }
    #didactics{
        font-size: 20px;
        padding-bottom: 10px;
    }
    #opacity {
        margin: 40px;
    }
    #text1 {
        font-size: 55px;
        padding: 80px 40px;
    }
    #text2 {
        font-size: 35px;
        padding: 40px 0 5px;
    }
    #text3 {
        font-size: 35px;
        padding: 10px 0;
    }
    #games, #merch, #learn {
        font-size: 26px;
    }
    #iconscontainer {
        flex-flow: row wrap;
        justify-content: space-around;
        margin: 50px;
    }
    #iconscontainer img {
        width: 160px;
        height: 160px;
    }
    #followcontainer {
        height: 120px;
    }
    #follow {
        font-size: 33px;
    }
    #followicons img {
        margin: 15px 0;
        width: 35px;
        height: 35px;
    }

    #gamecontainer{
        display:flex;
        flex-direction: column;
    }
    .container-ttt {
        background-size: cover;
    }
    .contquiz {
        background-image: url(../img/Dlxp6XXW0AEscZK.jpg);
        background-size:100% 100%;
    }
    .shop-container{
        padding-bottom: 30px;
    }
    .newcard {
        margin: 0 10px;
    }
    .card-img-top {
        width: 250px;
        height: 275px;
        transition: all 300ms;
    }
    .card-img-top:hover {
        transform: scale(1.30);
    }
    .card-body {
        width: 36%;
    }
}